body {
    font-family: -roboto, apple, BlinkMacSystemFont ;
    margin: 0;
    padding: 0;
    
}

.header { 
    display: flex;
    background: #1f2937;

}

.logo {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 290px;
}

.headerlinks {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 485px;

}

.TopContent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 60px;
    background: #1f2937;
}

.containerTOP {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: -325px;
    margin-left: -70px;
    margin-bottom: 100px;
    
}

.Awesometext {
    margin-top:-50px ;
   
}

.secondarytext {
    height: 50px;
    width: 500px;
}


.buttonOne {
    border-style: solid;
    border-color: #3882F6;
    background-color: #3882F6;
    border-radius: 5px; 
    width: 100px;
    height: 25px;  
    margin-top: 10px;
    display: flex; 
    justify-content: center;
    align-self: flex-start;

}

.monkeyresize  {
    display: flex;
    flex-wrap: wrap;
}


.CenterContent {
    background-color: white;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 100px;    
}

.Monkeyone, .Monkeytwo, .Monkeythree, .Monkeyfour {
    display: block;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
    padding-bottom:0px; 
}

.textphotos {
    gap: 105px;
    display: flex;
    margin-top: -50px;
    margin-bottom: 70px;
}

.textone, .texttwo, .textthree, .textfour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    margin-top: -5px;  
    color: #1F2937;
    font-size: 12px;
}


.BottomContent {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 160px;
    padding-bottom:160px;
    padding-left: 450px;
    padding-right: 500px;
   

}

.BottomText {
    color: #1f2937;
    font-style:  italic;
    font-size: 36px;
    display: flex;
    

}

.author { 
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 20px;

}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 550px;
    border-radius: 10px;
    width: 750px;
    height: 150px;
}

.textcallHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 60px;
}

.buttonTwo {
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px; 
    width: 100px;
    height: 25px;  
    margin:50px;
    margin-bottom: 50px;
    display: flex; 
    justify-content: center;
    align-self: center;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background: #1f2937;

    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}


a {
    text-decoration: none;
    color: white; 
    
  }
  
  ul {
    list-style:  none;
    
  }


p {
    display: inline;
}

IMG {

Display: block;

border: 0;

}
